<% include ../partials/header.ejs %>
<!-- Include Sidebar -->
<% include ../partials/sidebar.ejs %>

<!-- Start Page Content -->
<div id="content">

    <iframe class="resp-iframe" src="https://cooking.ezlife.eu"></iframe>
    <div id="main-content">

    </div>

</div>

<% include ../partials/footer.ejs %>