<% include ../partials/header.ejs %>
<!-- Include Sidebar -->
<% include ../partials/sidebar.ejs %>

<!-- Start Page Content -->
<div id="content">
    <div id="main-content">
        <iframe class="resp-iframe" src="https://gitlab.ezlife.eu"></iframe>
    </div>

</div>

<% include ../partials/footer.ejs %>