<%- include ('../partials/header.ejs') -%>
<!-- Include Sidebar -->
<%- include ('../partials/sidebar.ejs') -%>

<!-- Start Page Content -->
<div id="content">
    <div id="main-content">
        <!-- TODO - setup source in backend -->
        <iframe class="resp-iframe" src="https://jira.ezlife.eu"></iframe>
    </div>

</div>

<%- include ('../partials/footer.ejs') -%>