<div class="card">
    <div class="card-header">
        Application Services
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-10">
                    <a href="/chat">EzChat</a>
                </div>
                <div class="col-2">
                    <img src="img/twitch/icon_offline.png" class="img-fluid">
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-10">
                    EzChat Push Service
                </div>
                <div class="col-2">
                    <img src="img/twitch/icon_offline.png" class="img-fluid">
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-10">
                    Ezlife Mail
                </div>
                <div class="col-2">
                    <img src="img/twitch/icon_offline.png" class="img-fluid">
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-10">
                    <a href="/status">Teamspeak</a>
                </div>
                <div class="col-2">
                    <img src="img/twitch/icon_online.png" class="img-fluid">
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-10">
                    <a href="/status">Discord</a>
                </div>
                <div class="col-2">
                    <img src="img/twitch/icon_online.png" class="img-fluid">
                </div>
            </div>
        </li>
    </ul>
</div>
<br>