<div class="modal fade" tabindex="-1" role="dialog" id="cookieModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <img class="mx-auto d-block" src="/img/ezlife/logo.svg" id="cookieImage">
            </div>
            <div class="modal-body">
                <h5 class="text-center">Do you like cookies? &#x1F36A;</h5>
                <p>We use cookies to ensure you get the best experience on our website. <a href="/privacy"><u>Learn More</u></a></p>
                <div class="dropdown-divider"></div>
                <p>Diese Website verwendet Cookies – nähere Informationen dazu und zu Ihren Rechten als Benutzer finden Sie in unserer <a href="/privacy"><u>Datenschutzerklärung</u></a>. Wir verwenden Cookies, um Inhalte und Anzeigen zu personalisieren, Funktionen für soziale Medien anbieten zu können und die Zugriffe auf unsere Website zu analysieren. Außerdem geben wir Informationen zu Ihrer Verwendung unserer Website an unsere Partner für soziale Medien, Werbung und Analysen weiter. Unsere Partner führen diese Informationen möglicherweise mit weiteren Daten zusammen, die Sie ihnen bereitgestellt haben oder die sie im Rahmen Ihrer Nutzung der Dienste gesammelt haben.</p>
                <div class="dropdown-divider"></div>
                <br>
                <button type="button" class="btn btn-success acceptCookies text-center">Accept / Ich stimme zu</button><br>
                <small>continue to ezlife.eu</small>
                <br>
                <br>
                <div class="dropdown-divider"></div>
                <small><a href="/privacy">Privacy / Datenschutzerklärung</a> - <a href="/about">Impressum</a></small>
            </div>
        </div>
    </div>
</div>