<!-- Footer -->
<div class="container">
    <div id="footer">
        <div class="row">
            <div class="col-sm-4">
                <br><img src="img/ezlife/logo.jpg" class="img-responsive rounded">
                <p>
                    <br>
                    ezlife.eu, 76887 Bad Bergzabern<br>
                    Germany
                </p>
            </div>
            <div class="col-sm-4 text-left">
                <p>
                <h3>Navigation</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/chat">Chat</a></li>
                    <li><a href="/development">Development</a></li>
                    <li><a href="/media">Media</a></li>
                    <li><a href="/stream">Stream</a></li>
                    <li><a href="/status">Server Status</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <div id="footer-right">
                    <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-5x"></i></a>
                    <a href="https://www.youtube.com"><i class="fab fa-youtube-square fa-5x"></i></a>
                    <a href="https://www.twitch.tv"><i class="fab fa-twitch fa-5x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="container">
    <div class="row">
        <div class="col-sm-8 text-left">
            <br><p>Created by <a href="/about">Philipp Minges</a></p>
        </div>
        <div class="col-sm-4 text-right">
            <br><p>Designed by <a href="https://ezlife.eu/about">ezlife.eu</a></p>
        </div>
    </div>
</div>
<br>
</body>
</html>