<head>
    <!-- General Settings -->
    <title>ezlife.eu</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="img/ezlife/favicon.ico">

    <!-- Mobile First -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Import JQuery and Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Import Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

    <!-- Import Main Stylesheet -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- Import more JavaScript -->
    <script language="javascript" type="text/javascript" src="js/rightNavigation.js"></script>
    <script language="javascript" type="text/javascript" src="js/checkServerStatus.js"></script>
    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
</head>

<!-- Start Body -->
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="50">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">HOME</a></li>
                <li><a href="/stream">STREAM</a></li>
                <li><a href="/services">SERVICES</a></li>
                <li><a href="/status">STATUS</a></li>
                <li><a href="/development">DEVELOPMENT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
            <ul class="nav social-links navbar-nav navbar-right">
                <li><a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li><a href="https://www.youtube.com"><i class="fa fa-youtube-square fa-2x"></i></a></li>
                <li><a href="https://www.twitch.tv"><i class="fa fa-twitch fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header - TODO Colums + Carousel -->
<div class="container">
    <div id="header">
        <div class="row" id="heading-img">
            <div class="col-xs-2" id="img-logo">
                <img src="img/ezlife/ezlife-transparent.png" class="img-responsive ">
            </div>
            <div class="col-xs-10">
                <div id="headerCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <a href="#x"><img src="img/logos/header/nginx.png" class="img-responsive"></a>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="#x"><img src="img/logos/header/nginx.png" class="img-responsive"></a>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="#x"><img src="img/logos/header/nginx.png" class="img-responsive"></a>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="#x"><img src="img/logos/header/nginx.png" class="img-responsive"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <a href="#x"><img src="img/logos/header/nginx.png" class="img-responsive"></a>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="#x"><img src="img/logos/header/nginx.png" class="img-responsive"></a>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="#x"><img src="img/logos/header/nginx.png" class="img-responsive"></a>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="#x"><img src="img/logos/header/nginx.png" class="img-responsive"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container">