<html>
<head>
    <!-- General Settings -->
    <title>ezlife.eu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Set Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/ezlife/favicon.ico">

    <!-- Import Font -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:600' rel='stylesheet' type='text/css'>

    <!-- Import Main Stylesheet -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- Import Glyphicons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Import JQuery and Bootstrap -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Handle PageLoading -->
    <script src="/js/handlePageLoading.js"></script>

    <!-- Handle Sidebar -->
    <script src="/js/handleSidebar.js"></script>

    <!-- Handle Popups -->
    <script src="/js/handlePopups.js"></script>

    <!-- Enable Goodle Ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<!-- Start Body -->
<body>

<!-- Handle DSGVO conform cookie sH!T -->
<% if(data.cookies) { %>
    <!-- Include CookieAlert -->
    <% include cookieAlert.ejs %>
<% } %>

<!-- Handle sidebar -->
<div class="sidebar-wrapper d-flex align-items-stretch">