<html>
<head>
    <!-- General Settings -->
    <title>ezlife.eu</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="img/ezlife/favicon.ico">

    <!-- Mobile First -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Import Font -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:600' rel='stylesheet' type='text/css'>

    <!-- Import Glyphicons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Import JQuery and Bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Import Main Stylesheet -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- Google AdSense -->
    <!--
    <script data-ad-client="ca-pub-4826635938982516" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    -->
</head>

<!-- Start Body -->
<body>

<% include header/nav-top.ejs %>
<% include header/top.ejs %>