<head>
    <!-- General Settings -->
    <title>ezlife.eu</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="img/ezlife/favicon.ico">

    <!-- Mobile First -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Import Font -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:600' rel='stylesheet' type='text/css'>

    <!-- Import Glyphicons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Import JQuery and Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Import Bootstrap MDB -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js"></script>

    <!-- Import additional JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Import Main Stylesheet -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- Include loading spinner -->
    <link href="css/loadingSpinner.css" rel="stylesheet" type="text/css">

    <!-- Import more JavaScript -->
    <script src="js/loadAppServerStatus.js"></script>
    <!--
    <script language="javascript" type="text/javascript" src="js/rightNavigation.js"></script>
    -->
    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>

</head>

<!-- Start Body -->
<body>

<% include header/nav-top.ejs %>
<% include header/top.ejs %>



