<!-- Sidebar -->
<nav id="sidebar" class="active">
    <h1><a href="/" class="logo"><img src="img/ezlife/logo.svg"></a></h1>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/"><span class="fa fa-home"></span> Home</a>
        </li>
        <li>
            <a href="/development"><span class="fa fa-sticky-note"></span> Dev</a>
        </li>
        <li>
            <a href="/stream"><span class="fa fa-user"></span> Streams</a>
        </li>
        <li>
            <a href="/services"><span class="fa fa-cogs"></span> Services</a>
        </li>
        <li>
            <a href="/contact"><span class="fa fa-paper-plane"></span> Contact</a>
        </li>
        <li>
            <a href="/about"><span class="fa fa-paper-plane"></span> About</a>
        </li>
    </ul>
</nav>