<!-- Sidebar -->
<nav id="sidebar" class="active">
    <h1><a href="/" class="logo"><img src="img/ezlife/logo_white_border.svg"></a></h1>
    <div class="dropdown-divider"></div>
    <div class="text-center">
        <h6><u>Navigation</u></h6>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/"><span class="fa fa-home"></span> Home</a>
        </li>
        <li>
            <a href="/development"><span class="fa fa-sticky-note"></span> Development</a>
        </li>
        <li>
            <a href="/stream"><span class="fa fa-user"></span> Streams</a>
        </li>
        <li>
            <a href="/services"><span class="fa fa-cogs"></span> Status</a>
        </li>
        <li>
            <a href="/contact"><span class="fa fa-paper-plane"></span> Contact</a>
        </li>
        <li>
            <a href="/about"><span class="fa fa-paper-plane"></span> About</a>
        </li>
    </ul>
    <div class="dropdown-divider"></div>
    <div class="text-center">
        <h6><u>Services</u></h6>
    </div>
    <ul class="list-unstyled components mb-5">
        <li>
            <a href="https://cooking.ezlife.eu"><span class="fa fa-sticky-note"></span> Cookbook</a>
        </li>
        <li>
            <a href="https://cloud.ezlife.eu"><span class="fa fa-user"></span> Cloud</a>
        </li>
        <li>
            <a href="https://gitlab.ezlife.eu"><span class="fa fa-cogs"></span> Gitlab</a>
        </li>
        <li>
            <a href="https://mail.ezlife.eu"><span class="fa fa-paper-plane"></span> Mail</a>
        </li>
    </ul>
</nav>