<div class="row">
    <div class="panel panel-default" id="status-panel">
        <script>checkServerStatus("https://ezlife.eu/apps/confluence/","confluence")</script>
        <script>checkServerStatus("https://ezlife.eu/apps/gitlab/","gitlab")</script>
    </div>
</div>