<div class="row">
    <div class="panel panel-default" id="status-panel">
        <!-- Services here -->
        <div class="panel-body">Services</div>
        <script>checkServerStatus("https://ezlife.eu/apps/confluence/", "confluence")</script>
        <script>checkServerStatus("https://ezlife.eu/apps/gitlab/", "gitlab")</script>
        <script>checkServerStatus("https://ezlife.eu/apps/cloud/", "cloud")</script>
    </div>
</div>