<nav class="navbar-dark navbar navbar-expand-lg">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <!-- TODO - insert textMark -->
         ezlife
    </a>
    <!-- Content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% for(let i=0; i<menu.length; i++) { %>
                <li class="nav-item">
                    <a class="nav-link" href="<%= menu[i].url %>"><%= menu[i].name %></a>
                </li>
            <% } %>
        </ul>
        <div class="navbar-nav">
            <button type="button" class="btn btn-light" id="sidebarCollapse">Toggle Menu</button>
            <button type="button" class="btn btn-light">Sign in</button>
        </div>
    </div>
    <!-- Toggle Button -->
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
</nav>

<br>