<div class="row">
    <div class="panel panel-default" id="web-status-panel">
        <!-- Services here -->
        <div class="panel-body">Web Services</div>
        <script>checkServerStatus("https://ezlife.eu/apps/confluence/", "confluence")</script>
        <script>checkServerStatus("https://ezlife.eu/apps/gitlab/users/sign_in", "gitlab")</script>
        <script>checkServerStatus("https://ezlife.eu/apps/cloud/", "cloud")</script>
    </div>
</div>