<div class="card">
    <div class="card-header">
        Web Services
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">1</li>
        <li class="list-group-item">2</li>
        <li class="list-group-item">3</li>
    </ul>
</div>
<br>

<!--
<script>checkServerStatus("https://ezlife.eu/apps/confluence/", "confluence")</script>
<script>checkServerStatus("https://ezlife.eu/apps/gitlab/users/sign_in", "gitlab")</script>
<script>checkServerStatus("https://ezlife.eu/apps/cloud/", "cloud")</script>
-->