<% include partials/header.ejs %>

<!-- Container - Contact -->
<div class="row">
    <h3 class="text-center">CONTACT</h3>
    <p class="text-center"><em>Any Questions? Write us.</em></p>
</div>
<div class="row">
    <div class="col-md-4">
        <p><span class="glyphicon glyphicon-envelope"></span>Email: support@ezlife.eu</p>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-6 form-group">
                <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <br>
        <div class="row">
            <div class="col-md-12 form-group">
                <button class="btn pull-right" type="submit">Send</button>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>