<% include partials/header.ejs %>

<div class="container text-center">
    <br>
    <h1>Contact</h1>
    <p><em>Any Questions? Write us.</em></p>

    <!-- Container - Contact -->
    <div class="row">
        <div class="col-4">
            <h5 class="text-left"><i class="fas fa-envelope"></i> Email: <%= data.email %></h5>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Write your text here..." rows="5" style="height: 250px"></textarea>
            <br>
            <div class="row">
                <div class="col-12 form-group text-right">
                    <a href="#" class="btn btn-primary">Send</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>