<% include partials/header.ejs %>

<div class="row">
    <h3 class="text-center">DEVELOPMENT</h3>
</div>
<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#ezlife">ezlife.eu</a></li>
        <li><a data-toggle="tab" href="#wiki">wiki.ezlife.eu</a></li>
    </ul>
    <div class="tab-content">
        <div id="ezlife" class="tab-pane fade in active">
            <p><b>Latest commits</b></p>
            <div id="ezlifeRSS"></div>
        </div>
        <div id="wiki" class="tab-pane fade">
            <p><b>Latest commits</b></p>
            <div id="wikiRSS">
                <!-- Wiki RSS here -->
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>