<% include partials/header.ejs %>

<div class="container text-center">
    <br>

    <!-- Container - Contact -->
    <div class="row">
        <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://mail.ezlife.eu" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <br>

</div>



<% include partials/footer.ejs %>