<% include partials/header.ejs %>

<!-- include additional scripts -->
<script src="js/handleMedia.js"></script>

<div class="container">
    <br>
    <h1 class="text-center">Media</h1>

    <% include partials/loadingSpinner.ejs %>

    <div id="tabContent" hidden>
        <!-- overview -->
        <div class="row">
            <!-- side menu -->
            <div class="col-sm-12 col-md-3">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active">
                        Cras justo odio
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
                </div>
            </div>
            <!-- video overview -->
            <div class="col-sm-12 col-md-9">

                <div class="row">
                    <div class="col-sm12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                This is some text within a card body.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                This is some text within a card body.
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                This is some text within a card body.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                This is some text within a card body.
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                This is some text within a card body.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                This is some text within a card body.
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <br>

        <!-- TODO - implement video -->

        <!-- video -->
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>

</div>

<% include partials/footer.ejs %>