<% include partials/header.ejs %>

<!-- include additional scripts -->
<script src="js/handleMedia.js"></script>

<div class="container">
    <br>
    <h1 class="text-center">Media</h1>

    <% include partials/loadingSpinner.ejs %>

    <div id="tabContent" hidden>
        <!-- overview -->
        <div class="row">
            <!-- side menu -->
            <div class="col-sm-12 col-md-3">
                <div class="list-group">
                    <!--
                    <% for(let i=0;i < 1;i++) { %>
                    -->
                            <button type="button" class="list-group-item list-group-item-action"></button>
                    <!--
                    <% } %>
                    -->
                </div>
            </div>
            <!-- video overview -->
            <div class="col-sm-12 col-md-9">
                <!--
                <% for(let i=0;i < 1;i++) { %>
                    <% if(i!== 0 && i%2 == 0) { %>
                        <br>
                    <% } %>
                    <a href="#currentStream" onclick="videoButtonClicked('')" class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-thumbnail img-fluid" src="">
                            </div>
                        <div class="col-8">
                            <h5></h5>
                            <div class="dropdown-divider"></div>
                            <small class="text-muted">video Id: </small>
                        </div>
                    </div>
                </a>

                <% } %>
                -->
            </div>
        </div>

        <br>

        <!-- TODO - implement video -->

        <!-- video -->
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>

</div>

<% include partials/footer.ejs %>