<% include partials/header.ejs %>

<div class="container">
    <br>
    <h1 class="text-center">Services</h1>
    <!-- TODO - do stuff -->
    <p class="text-center"><b style="color:red">TODO</b></p>
    <br>
    <h2>Web Services</h2>
    <h4>Gitlab</h4>
    <br>
    <h4>Confluence</h4>
    <br>
    <h4>Nextcloud</h4>
    <br>
    <h4>Roundcube</h4>
    <br>
    <h2>Application Services</h2>
    <h4>Chat Services</h4>
    <h5>EzChat</h5>
    <br>
    <h5>EzChat Push</h5>
    <br>
    <h4>Voice Services</h4>
    <h5>Teamspeak</h5>
    <br>
    <h5>Discord</h5>
    <br>
    <h4>Game Services</h4>
    <h5>Minecraft</h5>
    <br>
</div>


<% include partials/footer.ejs %>