<% include partials/header.ejs %>

<!-- Tsviewer -->
<script src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"></script>
<script>
    var ts3v_url_1 = "https://www.tsviewer.com/ts3viewer.php?ID=1114101&text=757575&text_size=12&text_family=1&text_s_color=000000&text_s_weight=normal&text_s_style=normal&text_s_variant=normal&text_s_decoration=none&text_i_color=&text_i_weight=normal&text_i_style=normal&text_i_variant=normal&text_i_decoration=none&text_c_color=&text_c_weight=normal&text_c_style=normal&text_c_variant=normal&text_c_decoration=none&text_u_color=000000&text_u_weight=normal&text_u_style=normal&text_u_variant=normal&text_u_decoration=none&text_s_color_h=&text_s_weight_h=bold&text_s_style_h=normal&text_s_variant_h=normal&text_s_decoration_h=none&text_i_color_h=000000&text_i_weight_h=bold&text_i_style_h=normal&text_i_variant_h=normal&text_i_decoration_h=none&text_c_color_h=&text_c_weight_h=normal&text_c_style_h=normal&text_c_variant_h=normal&text_c_decoration_h=none&text_u_color_h=&text_u_weight_h=bold&text_u_style_h=normal&text_u_variant_h=normal&text_u_decoration_h=none&iconset=default_mono_2014";
    ts3v_display.init(ts3v_url_1, 1114101, 100);
</script>

<div class="container text-center">
    <br>
    <h1 class="text-center">Services</h1>
    <h2>System Load</h2>
    <div class="row">
        <div class="col">
            <iframe src="https://grafana.ezlife.eu/d-solo/rYdddlPWk/node-exporter-full?orgId=1&panelId=77" width="450" height="200" frameborder="0"></iframe>
        </div>
        <div class="col">
            <iframe src="https://grafana.ezlife.eu/d-solo/rYdddlPWk/node-exporter-full?orgId=1&panelId=78" width="450" height="200" frameborder="0"></iframe>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <iframe src="https://grafana.ezlife.eu/d-solo/rYdddlPWk/node-exporter-full?orgId=1&panelId=7" width="450" height="200" frameborder="0"></iframe>
        </div>
        <div class="col">
            <iframe src="https://grafana.ezlife.eu/d-solo/rYdddlPWk/node-exporter-full?orgId=1&panelId=9" width="450" height="200" frameborder="0"></iframe>
        </div>
    </div>

    <h2>Web Server</h2>
    <h4>Cooking</h4>
    <br>
    <h4>Cloud</h4>
    <iframe src="https://grafana.ezlife.eu/d-solo/Hcp20_8mz/nextcloud?orgId=1&panelId=10" width="450" height="200" frameborder="0"></iframe>

    <br>
    <h4>GitLab</h4>
    <br>
    <h4>Mail</h4>
    <br>
    <h2>Application Server</h2>
    <div class="row">
        <div class="col">
            <h4>Voice Server</h4>
                <div class="row">
                    <div class="col">
                        <br>
                        <h5 id="Teamspeak">Teamspeak 3</h5>
                        <p>Status: <b style="color:green">ONLINE</b></p>
                        <p><div id="ts3viewer_1114101" style=""> </div></p>
                    </div>
                    <div class="col">
                        <br>
                        <h5 id="Discord">Discord</h5>
                        <p>Status: <b style="color:green">ONLINE</b></p>
                        <iframe src="https://discordapp.com/widget?id=322492651184324609&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
                    </div>
                </div>
            <h5>Teamspeak 3 Statistics</h5>
                <div class="row">
                    <div class="col">
                        <iframe src="https://grafana.ezlife.eu/d-solo/o7G5WqUZk/teamspeak?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=teamspeak&var-instance=127.0.0.1:8092&var-virtualserver=ezlife.eu&var-maxclients=teamspeak_virtualserver_maxclients%7Binstance%3D%22127.0.0.1:8092%22,job%3D%22teamspeak%22,virtualserver_name%3D%22ezlife.eu%22%7D%2032%201586115206000&panelId=32" width="450" height="200" frameborder="0"></iframe>
                    </div>
                    <div class="col">
                        <iframe src="https://grafana.ezlife.eu/d-solo/o7G5WqUZk/teamspeak?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=teamspeak&var-instance=127.0.0.1:8092&var-virtualserver=ezlife.eu&var-maxclients=teamspeak_virtualserver_maxclients%7Binstance%3D%22127.0.0.1:8092%22,job%3D%22teamspeak%22,virtualserver_name%3D%22ezlife.eu%22%7D%2032%201586115206000&panelId=20" width="450" height="200" frameborder="0"></iframe>
                    </div>
                </div>
            <br>
                <div class="row">
                    <div class="col">
                        <iframe src="https://grafana.ezlife.eu/d-solo/o7G5WqUZk/teamspeak?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=teamspeak&var-instance=127.0.0.1:8092&var-virtualserver=ezlife.eu&var-maxclients=teamspeak_virtualserver_maxclients%7Binstance%3D%22127.0.0.1:8092%22,job%3D%22teamspeak%22,virtualserver_name%3D%22ezlife.eu%22%7D%2032%201586115206000&panelId=22" width="450" height="200" frameborder="0"></iframe>
                    </div>
                    <div class="col">
                        <iframe src="https://grafana.ezlife.eu/d-solo/o7G5WqUZk/teamspeak?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=teamspeak&var-instance=127.0.0.1:8092&var-virtualserver=ezlife.eu&var-maxclients=teamspeak_virtualserver_maxclients%7Binstance%3D%22127.0.0.1:8092%22,job%3D%22teamspeak%22,virtualserver_name%3D%22ezlife.eu%22%7D%2032%201586115206000&panelId=18" width="450" height="200" frameborder="0"></iframe>
                    </div>
                </div>
            <br>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Game Server</h4>
            <h5 id="Minecraft">Minecraft</h5>
            <img class="rounded" src="http://status.mclive.eu/IP: ezlife.eu:25565 - Version: 1.13.2/ezlife.eu/25565/banner.png">
        </div>
    </div>
    <br>
</div>


<% include partials/footer.ejs %>