<% include partials/header.ejs %>
<% include partials/sidebar.ejs %>

<!-- Start Page Content -->
<div id="content">

    <!-- Include Navigation -->
    <% include partials/topNav.ejs %>
    <% include partials/loadingSpinner.ejs %>

    <div id="main-content">
        <div class="container">
            <br>
            <div class="row">
                <!-- Content -->
                <div class="col-12">


                </div>
            </div>
            <br>
        </div>

        <!-- Include Bottom Content -->
        <% include partials/bottom.ejs %>

    </div>
</div>

<% include partials/footer.ejs %>