<% include partials/header.ejs %>

<!-- include additional scripts -->
<script src="js/handleServices.js"></script>

<div class="container text-center">

    <% include partials/loadingSpinner.ejs %>

    <div id="tabContent" hidden>
        <br>
        <h1 class="text-center">Statistics</h1>
        <h2>System Load</h2>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/rYdddlPWk/node-exporter-full?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=node_exporter&var-name=ezlife&var-node=127.0.0.1&var-port=9100&panelId=77"></iframe>
                </div>

            </div>
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/rYdddlPWk/node-exporter-full?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=node_exporter&var-name=ezlife&var-node=127.0.0.1&var-port=9100&panelId=78"></iframe>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/rYdddlPWk/node-exporter-full?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=node_exporter&var-name=ezlife&var-node=127.0.0.1&var-port=9100&panelId=7"></iframe>
                </div>

            </div>
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/rYdddlPWk/node-exporter-full?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=node_exporter&var-name=ezlife&var-node=127.0.0.1&var-port=9100&panelId=229"></iframe>
                </div>
            </div>
        </div>
        <br>

        <h2>Web Server</h2>
        <h4>NGINX</h4>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/MsjffzSZz/ezlife-eu-webserver?orgId=1&refresh=5s&panelId=10"></iframe>
                </div>
            </div>
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/MsjffzSZz/ezlife-eu-webserver?orgId=1&refresh=5s&panelId=15"></iframe>
                </div>
            </div>
        </div>
        <br>
        <h4>Cloud</h4>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/Hcp20_8mz/nextcloud?orgId=1&panelId=2"></iframe>
                </div>
            </div>
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/Hcp20_8mz/nextcloud?orgId=1&panelId=8"></iframe>
                </div>
            </div>
        </div>
        <br>

        <h4>GitLab</h4>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/1XZ-UHjWz/gitlab-omnibus?orgId=1&refresh=5m&panelId=13"></iframe>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://grafana.ezlife.eu/d-solo/1XZ-UHjWz/gitlab-omnibus?orgId=1&refresh=5m&panelId=9"></iframe>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://grafana.ezlife.eu/d-solo/1XZ-UHjWz/gitlab-omnibus?orgId=1&refresh=5m&panelId=7"></iframe>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://grafana.ezlife.eu/d-solo/1XZ-UHjWz/gitlab-omnibus?orgId=1&refresh=5m&panelId=8"></iframe>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://grafana.ezlife.eu/d-solo/1XZ-UHjWz/gitlab-omnibus?orgId=1&refresh=5m&panelId=10"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <h4>Mail</h4>
        <p>tbd</p>
        <br>

        <h2>Application Server</h2>
        <h4>Prometheus</h4>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/dbrlgNjZz/prometheus-2-0-stats?orgId=1&refresh=1m&panelId=38"></iframe>
                </div>
            </div>
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/dbrlgNjZz/prometheus-2-0-stats?orgId=1&refresh=1m&panelId=14"></iframe>
                </div>
            </div>
        </div>
        <br>
        <h4>Teamspeak 3</h4>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/o7G5WqUZk/teamspeak?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=teamspeak&var-instance=127.0.0.1:8092&var-virtualserver=ezlife.eu&var-maxclients=teamspeak_virtualserver_maxclients%7Binstance%3D%22127.0.0.1:8092%22,job%3D%22teamspeak%22,virtualserver_name%3D%22ezlife.eu%22%7D%2032%201586115206000&panelId=32"></iframe>
                </div>
            </div>
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/o7G5WqUZk/teamspeak?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=teamspeak&var-instance=127.0.0.1:8092&var-virtualserver=ezlife.eu&var-maxclients=teamspeak_virtualserver_maxclients%7Binstance%3D%22127.0.0.1:8092%22,job%3D%22teamspeak%22,virtualserver_name%3D%22ezlife.eu%22%7D%2032%201586115206000&panelId=20"></iframe>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/o7G5WqUZk/teamspeak?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=teamspeak&var-instance=127.0.0.1:8092&var-virtualserver=ezlife.eu&var-maxclients=teamspeak_virtualserver_maxclients%7Binstance%3D%22127.0.0.1:8092%22,job%3D%22teamspeak%22,virtualserver_name%3D%22ezlife.eu%22%7D%2032%201586115206000&panelId=22"></iframe>
                </div>
            </div>
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://grafana.ezlife.eu/d-solo/o7G5WqUZk/teamspeak?orgId=1&var-DS_PROMETHEUS=Prometheus&var-job=teamspeak&var-instance=127.0.0.1:8092&var-virtualserver=ezlife.eu&var-maxclients=teamspeak_virtualserver_maxclients%7Binstance%3D%22127.0.0.1:8092%22,job%3D%22teamspeak%22,virtualserver_name%3D%22ezlife.eu%22%7D%2032%201586115206000&panelId=18"></iframe>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>


<% include partials/footer.ejs %>