body {
    background-image: url("../img/header-cloud2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p, h1, h2, h3, h4 {
    color: white;
}

/* Basic Container */
.container {
    background-color: #121212;
    border: 1px solid #000;
    color: white;
}

.card, .list-group-item {
    background-color: #121212;
    border: 1px solid #000;
}

.card-header {
    background-color: #363d42;
}

/* List style*/
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#footer-right {
    padding-top: 25%;
}