<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://ezlife.eu">
        <img src="img/ezlife/ezlife-transparent.png" width="30" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse">
        <!-- Navbar Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stream">Stream</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/status">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/development">Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>

        <!-- Social Icons -->
        <ul class="social-links navbar-nav navbar-right">
            <li>
                <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com"><i class="fa fa-youtube-square fa-2x"></i></a>
            </li>
            <li>
                <a href="https://www.twitch.tv"><i class="fa fa-twitch fa-2x"></i></a>
            </li>
        </ul>
    </div>
</nav>