<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <br><p><a href="https://amd.com/en"><img src="img/logos/header/amd.png" class="img-fluid"></a></p>
        </div>
        <div class="col-3 text-center">
            <br><p><a href="https://vmware.com"><img src="img/logos/header/vmware.png" class="img-fluid"></a></p>
        </div>
        <div class="col-3 text-center">
            <br><p><a href="https://ubuntu.com"><img src="img/logos/header/ubuntu.png" class="img-fluid"></a></p>
        </div>
        <div class="col-3 text-center">
            <br><p><a href="https://nginx.org"><img src="img/logos/header/nginx.png" class="img-fluid"></a></p>
        </div>
    </div>
</div>